<main id="main">
  <div class="container">
    <div class="row pt-4">
      <div class="pagetitle">
        <h1>All Product</h1>
        <nav>
          <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="index.html">Home</a></li>
            <li class="breadcrumb-item active">All Product</li>
          </ol>
        </nav>
      </div><!-- End Breadcrumbs with a page title -->

      <div class="row">
        <div class="col-8">
          <div class="row" id="newCollection">
            <div class="col-6 col-lg-4 pointer mb-3">
              <div class="card position-relative">
                <a href="oneProduct.html">
                  <img src="../../../assets/img/p1.jpeg" class="img-fluid" alt="...">
                  <div class="card-body pt-2">
                    <h5 class="fc-black card-title text-truncate mb-0">Card title</h5>
                    <p class="card-text text-truncate my-lg-1 my-0 fc-gray">Some quick example text to
                      build
                      on the
                      card title and make up the bulk of the card's content.</p>
                    <h5 class="fc-black fw-bolder text-truncate">$20</h5>
                  </div>
                </a>
                <div class="cart">
                  <img src="assets/img/cart.svg" style="width: 24px; object-fit: scale-down;" alt="">
                </div>
              </div>
            </div>
            <div class="col-6 col-lg-4 pointer mb-3">
              <div class="card position-relative">
                <a href="oneProduct.html">
                  <img src="../../../assets/img/p1.jpeg" class="img-fluid" alt="...">
                  <div class="card-body pt-2">
                    <h5 class="fc-black card-title text-truncate mb-0">Card title</h5>
                    <p class="card-text text-truncate my-lg-1 my-0 fc-gray">Some quick example text to
                      build
                      on the
                      card title and make up the bulk of the card's content.</p>
                    <h5 class="fc-black fw-bolder text-truncate">$20</h5>
                  </div>
                </a>
                <div class="cart">
                  <img src="assets/img/cart.svg" style="width: 24px; object-fit: scale-down;" alt="">
                </div>
              </div>
            </div>
            <div class="col-6 col-lg-4 pointer mb-3">
              <div class="card position-relative">
                <a href="oneProduct.html">
                  <img src="../../../assets/img/p1.jpeg" class="img-fluid" alt="...">
                  <div class="card-body pt-2">
                    <h5 class="fc-black card-title text-truncate mb-0">Card title</h5>
                    <p class="card-text text-truncate my-lg-1 my-0 fc-gray">Some quick example text to
                      build
                      on the
                      card title and make up the bulk of the card's content.</p>
                    <h5 class="fc-black fw-bolder text-truncate">$20</h5>
                  </div>
                </a>
                <div class="cart">
                  <img src="assets/img/cart.svg" style="width: 24px; object-fit: scale-down;" alt="">
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-4">
          <div class="row" id="cart-page">
            <div class="col-12">
              <div class="card">
                <div class="card-body">
                  <div class="d-flex gap-3 align-items-start">
                    <img src="../../../assets/img/p1.jpeg" alt="">
                    <div class="w-100">
                      <div class="d-flex align-items-center justify-content-between">
                        <h5 class="card-title text-truncate mb-0 fc-black">Card title</h5>
                        <h5 class="fw-bolder text-truncate fc-black mb-0">$20</h5>
                      </div>
                      <div class="d-flex flex-column pt-2">
                        <p class="text-truncate mb-0 fc-gray">Color : Black</p>
                        <p class="text-truncate mb-0 fc-gray">Sixe : L/XL</p>
                      </div>
                      <div class="d-flex align-items-center justify-content-between pt-3">
                        <div class="d-flex align-items-center gap-3">
                          <div class="minus cart-change-quantity-btn-disable pointer"><i class="fa-solid fa-minus"></i>
                          </div>
                          <div class="quantity fw-bolder fs-5">1</div>
                          <div class="plus cart-change-quantity-btn pointer"><i class="fa-solid fa-plus"></i></div>
                        </div>
                        <div class="d-flex align-items-center gap-3">
                          
                          <i class="fa-regular fa-trash-can pointer fs-4" title="Delete this cart"></i>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

        </div>
      </div>
      <!-- </div> -->


    </div>

  </div>
</main>
