<nav class="navbar py-3 bg-white" style="position: sticky;  top: 0; z-index: 999;">
  <div class="container-fluid">
    <div class="d-flex align-items-center gap-2">
      <button (click)="toggleSidebar()" class="navbar-toggler toggle-sidebar-btn" style="border: none;">
        <img src="../../../../assets/img/humb-menu.svg" style="width: 24px;" alt="">
      </button>
      <a class="navbar-brand" href="../index.html"><img src="../../../../assets/img/logo.jpg" alt=""
          style="width: 120px;"></a>
      <!-- <ul class="d-flex gap-3 px-3 me-auto mb-2 mb-lg-0" style="list-style: none;">
              <li class="nav-item">
                  <a class="nav-link" aria-current="page" href="../index.html">Home</a>
              </li>
          </ul> -->

    </div>
    <div class="d-flex align-items-center gap-3" role="search">
      <a href="cart.html">
        <div class="position-relative">
          <img src="../../../../assets/img/cart.svg" style="width: 22px;" alt=""><span
            class="position-absolute top-100 start-100 translate-middle badge-cart rounded-pill cart-Notify">+9
            <span class="visually-hidden">unread messages</span></span>
        </div>
      </a>
      <a href="" data-bs-toggle="modal" data-bs-target="#seacrhBackdrop"><img src="../../../../assets/img/search.svg"
          style="width: 29px;" alt=""></a>
      <a href=""><img src="../../../../assets/img/user.svg" style="width: 29px;" alt=""></a>
    </div>
  </div>

</nav>


<aside id="sidebar" [ngClass]="{'toggle-sidebar': isSidebarToggled}" class="sidebar pt-5">
  <ul class="sidebar-nav" id="sidebar-nav">

    <li class="nav-item">
      <a class="nav-link " href="">
        <i class="bi bi-grid"></i>
        <span>Dashboard</span>
      </a>
    </li><!-- End Dashboard Nav -->

    <li class="nav-item">
      <a class="nav-link collapsed" data-bs-target="#Products-nav" data-bs-toggle="collapse" href="#">
        <i class='bx bx-package'></i><span>Products</span><i class="bi bi-chevron-down ms-auto"></i>
      </a>
      <ul id="Products-nav" class="nav-content collapse " data-bs-parent="#sidebar-nav">
        <li>
          <a href="">
            <i class="bi bi-circle"></i><span>View all Products</span>
          </a>
        </li>
        <li>
          <a href="Add-product-Dashboard.html">
            <i class="bi bi-circle"></i><span>Add Products</span>
          </a>
        </li>
      </ul>
    </li><!-- End Products Nav -->

    <li class="nav-item">
      <a class="nav-link collapsed" data-bs-target="#Categories-nav" data-bs-toggle="collapse" href="#">
        <i class='bx bx-category'></i><span>Categories</span><i class="bi bi-chevron-down ms-auto"></i>
      </a>
      <ul id="Categories-nav" class="nav-content collapse " data-bs-parent="#sidebar-nav">
        <li>
          <a href="forms-elements.html">
            <i class="bi bi-circle"></i><span>View all Categories</span>
          </a>
        </li>
        <li>
          <a href="forms-layouts.html">
            <i class="bi bi-circle"></i><span>Add Categories</span>
          </a>
        </li>
      </ul>
    </li><!-- End Categories Nav -->


    <li class="nav-item">
      <a class="nav-link collapsed" data-bs-target="#Admins-nav" data-bs-toggle="collapse" href="#">
        <i class="fa-regular fa-chess-king"></i><span>Admins</span><i class="bi bi-chevron-down ms-auto"></i>
      </a>
      <ul id="Admins-nav" class="nav-content collapse " data-bs-parent="#sidebar-nav">
        <li>
          <a href="admin-list.html">
            <i class="bi bi-circle"></i><span>View all Admins</span>
          </a>
        </li>
        <li>
          <a href="forms-layouts.html">
            <i class="bi bi-circle"></i><span>Add Admins</span>
          </a>
        </li>
      </ul>
    </li><!-- End Admin Nav -->

    <li class="nav-heading">Pages</li>

    <li class="nav-item">
      <a class="nav-link collapsed" href="order-list.html">
        <i class='bx bx-file'></i>
        <span>Order list</span>
      </a>
    </li><!-- End Order list Page Nav -->

    <li class="nav-item">
      <a class="nav-link collapsed" href="user-list.html">
        <i class="bi bi-person"></i>
        <span>User List</span>
      </a>
    </li><!-- End User List Page Nav -->

    <li class="nav-item">
      <a class="nav-link collapsed" href="pages-contact.html">
        <i class="bi bi-envelope"></i>
        <span>Contact</span>
      </a>
    </li><!-- End Contact Page Nav -->

  </ul>

</aside>
